<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>回调p2p平台接口</title>
</head>
<body>
	<form id="form1" name="form1" action="${pWebUrl}" method="post">
		<input id="pMerCode" name="pMerCode" value="${pMerCode}" type="hidden" />
		<br>
		<input id="pErrCode" name="pErrCode" value="${pErrCode}" type="hidden"/>
		<br>
		<input id="pErrMsg" name="pErrMsg" value="${pErrMsg}" type="hidden"/>
		<br>
		<input id="p3DesXmlPara" name="p3DesXmlPara" value="${p3DesXmlPara}" type="hidden" />
		<br>
		<input id="pSign" name="pSign" value="${pSign}" type="hidden" width="800" />
	</form>
	<script type="text/javascript">
		document.getElementById("form1").submit();
	</script>
</body>
</html>