SUCCESS<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Servlet AccountServlet</title>
  </head>
  <body>
  	<form action="${args.url}" id="frm1" method="post">
		<input type="hidden" name="pMerCode" value="${args.pMerCode}">
		<input type="hidden" name="pErrMsg" value="${args.pErrMsg}">
		<input type="hidden" name="pErrCode" value="${args.pErrCode}">
		<input type="hidden" name="p3DesXmlPara" value="${args.p3DesXmlPara}">
		<input type="hidden" name="pSign" value="${args.pSign}">
	</form>
	 <textarea>${resp}</textarea>
  <textarea>${sign}</textarea>
	<script language="javascript">
	document.getElementById("frm1").submit();
	</script>
  </body>
</html>